<script src="https://giscus.app/client.js"
        data-repo="nilact/nileshthakkar.com"
        data-repo-id="R_kgDOQvgdbA"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOQvgdbM4C0RyL"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>